/* style generic elements */
body {
  color: #03c4a1;
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: 0;
}

hr {
  border: 0;
  border-top: 2px solid rgba(3, 196, 161);
}

/* style app icons from font awsome */
.fas {
  color: #03c4a1;
}

/* style app wrapper */
.container {
  margin: 20px auto;
}

.weather-app {
  border: 2px solid #03c4a1;
  padding: 30px 35px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 600px;
}

/* style app header */
.app-header {
  margin-bottom: 30px;
}

.form-control {
  display: inline;
  width: 60%;
  border: 1px solid #03c4a1;
}

.location-button .tooltiptext {
  visibility: hidden;
  width: 115px;
  background-color: #03c4a1;
  opacity: 40%;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -2%;
  left: 70%;
  margin-left: 22px;
}

.location-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #03c4a1 transparent transparent;
}

.location-button:hover .tooltiptext {
  visibility: visible;
}

.weather-unit {
  margin-top: 6px;
  text-align: right;
}

.convert-unit {
  text-decoration: none;
  color: #03c4a1;
}

.convert-unit:hover {
  color: #009688;
}

.selected {
  text-decoration: none;
  font-weight: bold;
  color: #009688;
  cursor: default;
}

.selected:hover {
  text-decoration: none;
  font-weight: bold;
  color: #009688;
}

/* style city and date information */
.city-searched {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.today {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* style current city weather info */
.curr-weather .col-5 {
  padding-right: 0;
}

.curr-weather .col-3 {
  padding: 0;
}

.curr-icon {
  height: 80px;
  width: 80px;
  position: relative;
  left: -6%;
}

.temp-main {
  font-size: 64px;
}

.unit-main {
  font-size: 18px;
  position: relative;
  top: -31px;
}

.curr-desc {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.curr-desc:first-letter {
  text-transform: capitalize;
}

.last-upd {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.curr-info {
  padding-top: 11px;
}

.curr-info p {
  padding: 0;
  margin-bottom: 4px;
}

.curr-info .fas {
  width: 18px;
  height: 18px;
}

.weather-advice-wrapper {
  margin-top: 15px;
  padding: 8px;
  height: 145px;
  background-color: #9ad3bc;
  border-radius: 5px;
  border: 0 solid #9ad3bc;
}

.weather-advice p {
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.weather-advice-icon .fas {
  color: white;
  font-size: 35px;
  position: relative;
  left: 65%;
  top: 25px;
}

/* style forecast */
.next-hour {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.pred-temp {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.pred-icon {
  margin: 0 auto;
  display: block;
  width: 55px;
  height: 55px;
}

/* style author-rights */
.author-rights {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 600px;
  font-size: 11px;
  font-weight: lighter;
  color: grey;
}
