body {
  color: #03c4a1;
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: 0;
}

hr {
  border: 0;
  border-top: 2px solid rgba(3, 196, 161);
}

.form-control {
  display: inline;
  width: 60%;
  border: 1px solid #03c4a1;
}

.container {
  margin: 20px auto;
}

.weather-app {
  border: 2px solid #03c4a1;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 650px;
}

.app-header {
  margin-bottom: 30px;
}

.weather-unit {
  margin-top: 6px;
}

.convert-unit {
  text-decoration: none;
  color: #03c4a1;
}

.convert-unit:hover {
  color: #009688;
}

.fa-search {
  color: #03c4a1;
}

.fa-map-marker-alt {
  color: #03c4a1;
}

.curr-city-weather {
  font-size: 20px;
}

.today {
  font-size: 12px;
}

.fa-sun {
  font-size: 150px;
  color: #03c4a1;
}

.pred-weather-icon {
  color: #03c4a1;
}

.pred-temp {
  font-size: 12px;
  text-align: left;
}

.selected {
  text-decoration: none;
  font-weight: bold;
  color: #009688;
  cursor: default;
}

.selected:hover {
  text-decoration: none;
  font-weight: bold;
  color: #009688;
}

.curr-temp-main {
  font-size: 26px;
  font-weight: bold;
}

.author-rights {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 650px;
  font-size: 11px;
  font-weight: lighter;
  color: grey;
}

.location-button .tooltiptext {
  visibility: hidden;
  width: 115px;
  background-color: grey;
  opacity: 50%;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 92%;
  left: 52%;
  margin-left: 22px;
}

.location-button .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent grey transparent;
}

.location-button:hover .tooltiptext {
  visibility: visible;
}
